<!DOCTYPE html>
<html lang="en">
  
  <head>
    {% block title %}<title>pensieve</title>{% endblock %}
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
    <script src="{% static 'blog/javascript/nav.js' %}"></script>
  </head>
  
  <body>
    <header class="theme-background">
      <p id="site-name"><a class="theme-text-color header" href="{% url 'index' %}">Pensieve</a></p>
      <p id="slogan" class="theme-text-color header">Light made liquid / wind made solid</p>
    </header>
    
    <nav class="main-nav">
      <ul>
        <li><a href="{% url 'index' %}" {% if request.path == "/blog/" %}class="active"{% endif %}>Home</a>
        <li><a href="{% url 'archive' %}" {% if request.path == "/blog/archive/" %}class="active"{% endif %}>Archive</a>
        <li><a href="{% url 'about-this-blog' %}" {% if request.path == "/blog/about-this-blog" %}class="active"{% endif %}>About this blog</a>
        <li><a href="{% url 'about-me' %}" {% if request.path == "/blog/about-me" %}class="active"{% endif %}>About me</a>
      </ul>
      <form action="">
        <label for="search"></label>
        <input id="search">
      </form>
    </nav>
    
    <main>
      <section id="main-content">
        {% block content %}{% endblock %}
      </section>

      <section id="sidebar">
        {% load sidebar %}
        {% sidebar_context as context %}
        <div class="category">
          <p>Category</p>
          <ul>
            {% for category in context.tag_list %}
            <li><a class="theme-text-color archive" href="{% url 'blog-tag-archive' category.tag %}">{{ category.tag }}</a> 
            {% endfor %}
          </ul>
        </div>
        <div class="date">
          <p>Date</p>
          <ul>
            {% for date in context.date_list %}
            <li><a class="theme-text-color archive" href="{% url 'blog-year-archive' date.year %}">{{ date|date:"Y" }}</a>
            {% endfor %}
          </ul>
        </div>
      </section>
    </main>

    {% block pagination %}
      {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
            {% if page_obj.has_previous %}
              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
          </span>
        </div>
      {% endif %}
    {% endblock %}

    <footer class="theme-background theme-text-color footer">
      Powered by Django. @Copyright JL.
    </footer>
