{% extends "base_generic.html" %}

{% block content %}
  {% if latest %}
    {% for blog in latest %}
    <article>
      <h1><a class="theme-text-color blog-title" href="{{ blog.get_absolute_url }}"><strong>{{ blog.title }}</strong></a></h1>

      <div class="info">
        <span class="date">{{ blog.post_date|date:"Y.m.d" }}</span>
        <span class="comments">{{ blog.blogcomment_set.all.count }} comments</span>
      </div>
  
      <section>
      {{ blog.content }}
      </section>

      <div class="tags">
        {% for tag in blog.tags.all %}
        <a class="theme-text-color archive" href="{% url 'blog-tag-archive' tag.tag %}">{{ tag.tag }}</a>
        {% endfor %}
      </div>
    </article>
    {% endfor %}
  {% else %}
    <p>There are no blogs in this site.</p>
  {% endif %}
{% endblock%}
