{% extends "base_generic.html" %}

{% block content %}
  {% for year, blog_list in object_dict_sorted_by_year.items %}
  <p>{{ year }}
    <ul>
      {% for blog in blog_list %}
      <li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> ({{ blog.post_date|date:"Y.m.d"}})
      {% endfor %}
    </ul>

  {% endfor %}

  {% for tag, blog_list in object_dict_sorted_by_tag.items %}
  <p>{{ tag }}
    <ul>
      {% for blog in blog_list %}
      <li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> ({{ blog.post_date|date:"Y.m.d"}})
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
