{% extends "base_generic.html" %}

{% block content %}
<article>
  <h1>
    {{ blog.title }}
    {% if perms.blog.change_blog or perms.blog.delete_blog %}
    <span class="blog-title-buttons">
      {% if perms.blog.change_blog %}
      <a class="theme-text-color form-action" href="{% url 'blog-update' blog.post_date.year blog.post_date.month blog.post_date.day blog.slug %}">Edit</a>
      {% endif %}

      {% if perms.blog.delete_blog %}
      <a class="theme-text-color form-action" href="{% url 'blog-delete' blog.post_date.year blog.post_date.month blog.post_date.day blog.slug %}">Delete</a>
      {% endif %}
    </span>
    {% endif %}
  </h1>

  <div class="info">
    <span class="date">{{ blog.post_date|date:"Y.m.d" }}</span>
    <span class="comments">{{ comment_number }} comments</span>
  </div>

  <div id="article-content">
  {% load martortags %}
  {{ blog.content|safe_markdown }}
  </div>

  <div class="tags">
    {% for tag in blog.tags.all %}
    <a class="theme-text-color archive" href="{% url 'blog-tag-archive' tag %}">{{ tag.tag }}</a>
    {% endfor %}
  </div>
</article>

<aside>
  <!--
  <h2>Commnets</h2>
  {% if blog.blogcomment_set.all %}
    {% for comment in blog.blogcomment_set.all %}
      <p>{{ comment.comment_author }} ({{ comment.post_date }}) - {{ comment.content }}</p>
    {% endfor %}
  {% else %}
    <p>No comments.</p>
  {% endif %}
  -->
</aside>

{% if perms.blog.change_blog %}
{% load static %}
<script type="module" src="{% static 'blog/javascript/heading-to-tree-converter.js' %}"></script>
<script type="module" src="{% static 'blog/javascript/add-edit-button-for-headers.js' %}"></script>
<script type="module" src="{% static 'blog/javascript/section-edit-handler.js' %}"></script>
{% endif %}
{% endblock %}
