{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ blog.title  }}</h1>

  <p>{{ blog.post_date|date:"Y.m.d" }}
  <p>{{ comment_number }} comments
  <p>{{ blog.content }}
  {% for tag in blog.tags.all %}
  <p><a href="">{{ tag.tag }}</a>
  {% endfor %}
  <h2>Commnets</h2>
  {% if blog.blogcomment_set.all %}
    {% for comment in blog.blogcomment_set.all %}
      <p>{{ comment.comment_author }} ({{ comment.post_date }}) - {{ comment.content }}</p>
    {% endfor %}
  {% else %}
    <p>No comments.</p>
  {% endif %}
{% endblock %}
