{% extends 'base_generic.html' %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {{ form.content }}
  <input type="submit" value="Submit">
</form>

{% load static %}
<link rel="stylesheet" href="{% static 'blog/codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/editor.css' %}">
<script data-main="{% static 'blog/javascript/preview-codemirror.js' %}" src="{% static 'blog/javascript/require.js' %}"></script>
{% endblock %}

{% block sidebar %}{% endblock %}